/*  */

.form-container {
    width: 100%;
    /* padding: 0 2rem; */
    padding: 0;
    margin: 0;
    display: block;
    /* flex-direction: column; */
}

.text-uppercase {
    text-transform: uppercase;
}
.border-bottom {
    border: 1px solid var(--accentColorMuted);
}

.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; 
} 

.input-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0.5rem;
   
}

.input-group div {
    padding: 0;
    margin: 0;
    flex: 1;
   
    justify-self: stretch;
}

/*  */
.number-input {
    border: 1px solid var(--accentColor);
    display: inline-flex;
    border-radius: 9%;
}

.number-input input[type=number] {
    max-width: 4.5rem;
    /* padding: .15rem; */
    border:0;
    text-align: center;
    outline:none;
}

.number-input input:in-range {
    background-color: rgba(0, 255, 0, 0.25);
  }
  
.number-input input:out-of-range {
    background-color: rgba(255, 0, 0, 0.25);
    border: 2px solid red;
}

input[type="number"] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.number-input button {
    outline:none;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    cursor: pointer;
    margin: 0;
    padding:0;
    font-weight: 700;
}

.number-input button:hover {
    background-color: var(--accentColor);
    color: white;
} 



.form-select {
    display: block;
    width: 100%;
    padding: .2rem 2rem .2rem .75rem;

    -moz-padding-start: calc(.75rem - 3px);
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    color: #212529;
    background-color: #fff;
    background-image: url("data:image/svg+xml, %3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid #ced4da;
    border-radius: 0;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.form-select:focus {
    border-color: #eed8a5;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(220, 177, 74, 0.25);
}
